
<app-header></app-header>
  <main>
    <div class="pagehead">
    <div class="container nopadd">
       <div class="card-body">
        <h4 class="card-title">
            <div *ngIf="company_logo == '';then content else other_content">here is ignored</div>    
            <ng-template #content>{{company_name}}</ng-template>
            <ng-template #other_content><img src="{{company_logo}}" class="companylogo"/>   </ng-template>
            
            <!-- <a class="btn btn-success pageheadbtn" routerLink="../../manage-nurture/{{company}}"><i class="fas fa-plus"></i>Manage Nurture</a>  -->
         

           <a class="btn btn-success pageheadbtn" routerLink="../../manage-nurture/{{company}}"><i class="fas fa-plus"></i>Nurture List</a> 
    </h4>
    </div>
  
  </div>
  </div>
  <div class="addnurturesection">
<div class="container">
     
<div class="col-sm-12"><h1>Edit Nurture</h1></div>

 <div class="col-sm-12 card" >

          <form class="card-body" (submit)="onSubmmit($event)">
           
            <div class="dashdetailbox">
            
            
            <div class="form-group">
              <label>Nurture Name</label>
              <input type="text" class="form-control" [(ngModel)]="nurture_name" required="required" name="nurture_name" >
              <input type="hidden"  [(ngModel)]="company" name="company" >
            </div>
             <div class="form-group">
               <label>Nurture Description</label>
              <textarea class="form-control" required="required" name="nurture_desc" [(ngModel)]="nurture_desc" max-height="200"></textarea>
            </div>
            <div class="form-group clearfix">
              <span class="addfields btn btn-info" style="float:right;" (click)="addNewColumn()">Add Row</span>
            </div>
            <div class="form-group">
                <div class="col-sm-5 pull-left nopadd">
                  <label>Assign Url Name</label>
               </div>
               <div class="col-sm-7 pull-left">
                 <label>Add Url Links With Https/Http</label>
                </div>
         </div>
         <div class="clearfix"></div>
            <div class="form-group" *ngFor="let nurture_url of nurtue_url_obj; let i = index; ">
                   <div class="col-sm-5 pull-left nopadd" >
                
                  <input type="text" class="form-control"  [(ngModel)]="nurture_url.name" name="{{i}}" value="{{nurture_url.name}}">
                  </div>
                  
                  <div class="col-sm-7 pull-left">
                    
                  <input type="url" class="form-control width97per" [(ngModel)]="nurture_url.url" name="{{i+'u'}}" value="{{nurture_url.url}}">
                  
                  
                  <button type="button" class="remove btn btn-danger"  (click)="removeRow(nurture_url)">x</button>
                </div>
                
                <!-- <div class="col-sm-12">
                    
                  <input type="text" class="form-control" [(ngModel)]="nurture_url.doc_script" name="{{i+'p'}}" value="{{nurture_url.doc_script}}">
                  
                  
                </div> -->
            </div>
          
            <!-- {{nurtue_url_obj | json}} -->
    
<!-- ******************************************************************************* -->
<div class="clearfix"></div>
<div class="col-sm-12 nopadd">
    <fieldset  *ngFor="let column of columns; let i = index">
      <div class="col-sm-5 pull-left nopadd">
        <label for="urlName"></label>
        <input type="text" class="form-control" id="urlName" required  [(ngModel)]="column.name" name="urlName" #urlName="ngModel">
        <div *ngIf="urlName.errors && (urlName.dirty || urlName.touched)" class="alert-danger">
          <div [hidden]="!urlName.errors.required">
            URL Name is required!
          </div>
          
        </div>
      </div>
  
  
        <div class="col-sm-7 pull-left">
        <label for="url"></label>
        <input type="text" class="form-control" id="url" required pattern="https?://.+" [(ngModel)]="column.url" name="url" #url="ngModel">
        <button type="button" class="remove btn btn-danger"  (click)="removeColumn(i)">x</button>

        <div *ngIf="url.errors && (url.dirty || url.touched)" class="alert-danger">
          <div [hidden]="!url.errors.required">
            URL is required!
          </div>
          <div [hidden]="!url.errors.pattern">
            Must be a valid URL!
          </div>
        </div>
         
      </div>
      <hr/>
      <!-- <div class="col-sm-12 form-group nopaddleft">
        <textarea  class="form-control" placeholder="Document Script (Optional)" [(ngModel)]="column.doc_script" name="doc_script"></textarea>
              </div> -->
     </fieldset>
          </div>
           <div class="form-group">
             <button type="submit" class="btn btn-success">Submit</button>
          </div>

          


        </div>

    <!-- Large modal -->
</form>
</div>
</div>
</div>
</main>





<!-- <ul>

  <li *ngFor="let nu of nurtue_url_obj">
  {{nu.name}}
  </li>
</ul> -->



