.logoimg100{width:70px;height: 70px;}
.defaultimg{
    /* background-image: url(https://s3.us-east-2.amazonaws.com/instaspiel/default-logo.png); */
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-size: contain;
    background: #f5f5f5;
    border:1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.defaultico{
    /* background-image: url(https://s3.us-east-2.amazonaws.com/instaspiel/default-ico.png); */
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-size: contain;
    background: #f5f5f5;
    border:1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.defaultimg img{
    max-width: 70px;max-height:70px;
}
.defaultico img{
    max-width: 70px;max-height:70px;
}




